@import './welcome.animations'

body 
    background-color: #221435 
    color: white

.container
    display: flex
    justify-content: center
    width: 100vh
    margin-top: 10rem
    align-items: center 
    flex-wrap: wrap

    &.prakma-hook
         margin-top: 8rem
         flex-direction: column
    
    h1
        align-self: center
        font-size: 5rem
        text-align: center
        flex: 100%
    p
        font-size: 1.7rem
        margin-top: 1.7rem

.logo
    margin-bottom: 12px
    width: 12rem

.fall-down
    animation: fall-down

.zoom-in 
     animation: zoom-in

.blur-to-center 
    animation: blur-to-center

.prakma-hook
    button
        background-color: white
        border: none
        transition: all 300ms

        &:hover
            background-image: linear-gradient(36deg,#3A2061 20%,#CD087F 92%)!important
            border: none
            color: white

        &:active
            box-shadow: none
            transform: scale(0.8) 

        &:focus 
            outline:0
            box-shadow: none